*{
  outline:none;
  -webkit-appearance:none;
}

body {
  position: relative;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 300;
  background: url(https://media.giphy.com/media/QsZZNdxnevWGA/giphy.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}



header{
  text-align:center;
  font-weight:700;
  margin-top:5%;
}

h1{ font-size:35px;
    margin-bottom:0;
    margin-top:40px;
    letter-spacing:1px;
    color:rgb(66, 255, 0);
  }

hr{ width:92%;
    opacity:1;
    background:rgb(55, 255, 219);
    height:4px;
    border:0px;
    border-radius:20px;
  }

.main{
  padding:1% 4%;
}
.main p{
  font-size:15px;
  line-height:1.39em;
  background:rgb(250, 70, 189);
  color:white;
  padding:10px;
  border-radius:5px;
}
.main p img{
  margin:9px 0px 2px;
  width:100%;
}


/*big white*/

.container{
  width: 555px;
  max-width:100%;
  margin:10px 0px 30px;
  color: rgb(56, 56, 56);
  border-radius: 5px;
}

.container a{
  color:rgb(111, 227, 255);
  text-decoration:none;
}

.container .main{
  font-size:18px;
}


.bouncer, .bouncer-image {
  width: 100px;
  height: 100px;
}

.bouncer {
  position:absolute;
  -webkit-animation: x 5s linear infinite alternate;
          animation: x 5s linear infinite alternate;
}

.bouncer-image {
  padding:10px;
  -webkit-animation: y 3s linear infinite alternate;
          animation: y 3s linear infinite alternate;
}

.x0{
  -webkit-animation: x 5s linear infinite alternate;
          animation: x 5s linear infinite alternate;
}
.x1{
  -webkit-animation: x 4s linear infinite alternate;
          animation: x 4s linear infinite alternate;
}
.x2{
  -webkit-animation: x 3s linear infinite alternate;
          animation: x 3s linear infinite alternate;
}
.x3{
  -webkit-animation: x 2s linear infinite alternate;
          animation: x 2s linear infinite alternate;
}
.y0{
  -webkit-animation: y 2s linear infinite alternate;
          animation: y 2s linear infinite alternate;
}

.y1{
  -webkit-animation: y 4s linear infinite alternate;
          animation: y 4s linear infinite alternate;
}
.y2{
  -webkit-animation: y 5s linear infinite alternate;
          animation: y 5s linear infinite alternate;
}
.y3{
  -webkit-animation: y 6s linear infinite alternate;
          animation: y 6s linear infinite alternate;
}


.bouncer:hover,.bouncer-image:hover
{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}
.bouncer-image:hover{
  background:rgb(255, 0, 110);
  border-radius:5px;
  box-shadow:10px 10px 10px rgb(57, 26, 122)
}


@-webkit-keyframes x {
  100% {
    -webkit-transform: translateX(calc(100vw - 100px));
            transform: translateX(calc(100vw - 100px));
  }
}

@keyframes x {
  100% {
    -webkit-transform: translateX(calc(100vw - 100px));
            transform: translateX(calc(100vw - 100px));
  }
}
@-webkit-keyframes y {
  100% {
    -webkit-transform: translateY(calc(100vh - 100px));
            transform: translateY(calc(100vh - 100px));
  }
}
@keyframes y {
  100% {
    -webkit-transform: translateY(calc(100vh - 100px));
            transform: translateY(calc(100vh - 100px));
  }
}
