*{
  outline:none;
  -webkit-appearance:none;
}

body {
  position: relative;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 300;
  background: url(https://media.giphy.com/media/QsZZNdxnevWGA/giphy.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}



header{
  text-align:center;
  font-weight:700;
  margin-top:5%;
}

h1{ font-size:35px;
    margin-bottom:0;
    margin-top:40px;
    letter-spacing:1px;
    color:rgb(66, 255, 0);
  }

hr{ width:92%;
    opacity:1;
    background:rgb(55, 255, 219);
    height:4px;
    border:0px;
    border-radius:20px;
  }

.main{
  padding:1% 4%;
}
.main p{
  font-size:15px;
  line-height:1.39em;
  background:rgb(250, 70, 189);
  color:white;
  padding:10px;
  border-radius:5px;
}
.main p img{
  margin:9px 0px 2px;
  width:100%;
}
.social{
  text-align:center;
  margin:20px 0px 50px;
}
.social a{
  padding:6px;
  width:20px;
  display:inline-block;
  border-radius:3px;
}
.social a:hover{
  background:rgba(255, 255, 255,0.2)
}



/*big white*/

.container{
  width: 555px;
  max-width:100%;
  margin:10px 0px 30px;
  color: rgb(56, 56, 56);
  border-radius: 5px;
}

.container a{
  color:rgb(111, 227, 255);
  text-decoration:none;
}

.container .social a {
  color:rgb(154, 154, 154);
}

.container .social a:hover{
  background:rgba(232, 232, 232, 0.7)
}

.container .main{
  font-size:18px;
}
