$red: #C95151;
$dark-gray: #2E2E2E;
$medium-gray: #9C9C9C;
$light-gray: #DEDEDE;
$lighter-gray: #F2F2F2;

body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color: $dark-gray;
	
	a{
		color:$red;
	}
	
	section.container {
	  @include outer-container;
	  position: relative;
	  top: 58%;
	  opacity:0;
	  transform: translateY(-40%);
	
	}
	
	header{
		@include span-columns(12);
		border-bottom:20px solid $red;
		@include media($mobile){
			border-bottom:12px solid $red;
			
		}
			
		.profile-pic{
			@include span-columns(2);
			@include media($tablet){
				@include span-columns(1.85);
			}
			@include media($mobile){
				@include span-columns(0.9);
			}
			img{
				width:100%;
			}
		}
		.headline{
			@include span-columns(10);
			@include media($tablet){
				@include span-columns(6.15);
			}
			@include media($mobile){
				@include span-columns(3.1);
			}
			
			h1{
				font-size:60px;
				margin:0;
				@include media($mobile){
					font-size:30px;
				}
			}
			h2{
				margin:0;
				font-size:1.8em;
				
				@include media($tablet){
					font-size:1.5em;
				}
				@include media($mobile){
					font-size:1em;
				}
			}
		}
		
	}
	
	
	section.main{
		@include span-columns(12);
		border-right:20px solid $red;
		border-bottom:20px solid $red;
		@include media($mobile){
			border-right:12px solid $red;
			border-bottom:12px solid $red;
		}
		padding:5px;
		.content{
			@include span-columns(8.2);
			@include media($tablet){
				@include span-columns(4.8);
			}
			@include media($mobile){
				@include span-columns(4);
			}
			
			
			font-size:1.07em;
			padding:14px;
		}
		.sidebar{
			@include span-columns(3.8);
			@include media($tablet){
				@include span-columns(3.2);
			}
			@include media($mobile){
				@include span-columns(4);
			}
			
			a{
				color:$medium-gray;
				text-decoration:none;
				&:hover{
					color:$dark-gray;
				};
			}
			.social{
				position:relative;
				&:hover{
					background:$lighter-gray;
				};
				
				font-size:14px;
				padding:13px;
				border-left:12px solid $lighter-gray;
				img{
					width:40px;
					margin-right:8px;
					vertical-align:-12px;
				}
				
				.extra{
					position:absolute;
					top:0;
					left:-250px;
					width:250px;
					z-index:10;
					background:white;
					box-shadow:2px 2px $medium-gray;
					border:1px solid $light-gray;
					padding:8px;
					display:none;
				}
				&:hover{
					.extra{
						display:block;
					}
					@include media($mobile){
						.extra{
							display:none;
						}
					}
				}
				
			}
		}
	}
	
	
}